@model BookView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h2>Kitaplar</h2>
    <div class="row">
        <div class="col">
            @if (Model.Books.Count > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Kitap Adı</td>
                            <td>Yazar</td>
                            <td>Resim</td>
                            <td>Kategori</td>
                            <td>Update</td>
                            <td>Remove</td>
                        </tr>
                    <tbody>
                        @foreach (var item in Model.Books)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Author.Name</td>
                                <td><img src="~/Image/@item.ImageName" width="100" /></td>
                                <td>
                                    @item.Category.Name
                                </td>
                                <td><a asp-action="UpdateBook" asp-controller="Library" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Edit</a></td>
                                <td><a asp-action="RemoveBook" asp-controller="Library" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Hiç Kitap Yok
                </div>
            }

        </div>
    </div>
</div>